{% extends 'layout.html' %}
{% block content %}
<div class="container mt-5">
    <h2>Lista de usuarios</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>email</th>
                    <th>rol</th>
                    <th>Estado</th>
                </tr>
            </thead>

            <tbody>
                {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.id_usuario }}</td> 
                    <td>{{ usuario.nombres_usuario }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.rol  }}</td>
                    <td>
                        {% if usuario.is_active %}
                        Activo
                        {% else %}
                        Inactivo
                        {% endif %}
                    </td>
                    
                </tr>
                {% else %}
                <tr>
                    <td colspan="8" class="text-center">No hay usuarios registrados</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}

    



   