{% extends 'layout.html' %}
{% block content %}
<div class="container mt-5">
    {% if not vendedor %}
        <h2>Buscar Vendedor</h2>
        <form action="/vendedores_editar" method="GET">
            <label for="buscardocumento" class="form-label">Número de Documento:</label>
            <input type="text" placeholder="Ingrese número del documento para buscar" class="form-control form-control-sm" name="numeroDocumento">

            <button type="submit" class="btn btn-primary mt-2 form-control-sm">Buscar Vendedor</button>
        </form>
    {% endif %}
</div>

{% if vendedor %}
<div class="container mt-5">
    <h2>Editar Vendedor</h2>
    <form id="formEditarVendedor">
        <input type="hidden" name="vendedorId" value="{{ vendedor.idvendedores }}">

        <div class="mb-3">
            <label for="tipoDocumentoEditar" class="form-label">Tipo de Documento</label>
            <input 
            type="text" 
            class="form-control form-control-sm" 
            id="tipoDocumentoEditar" 
            value="{{ vendedor.tipo_documento }}" 
            readonly>
            <input type="hidden" name="tipoDocumento" value="{{ vendedor.tipo_documento }}">
            <div id="tipoDocumentoError" class="text-danger"></div>
        </div>

        <div class="mb-3">
            <label for="numeroDocumentoVendedor" class="form-label">Número de Documento</label>
            <input type="text" class="form-control form-control-sm" name="numeroDocumento" value="{{ vendedor.numero_documento }}" readonly>
            <div id="numeroDocumentoError" class="text-danger"></div> <!-- Error en tiempo real -->
        </div>
        

        <div class="mb-3">
            <label for="nombreVendedor" class="form-label">Nombre</label>
            <input type="text" class="form-control form-control-sm" name="nombreVendedor" value="{{ vendedor.nombres_vendedor }}" required>
            <div id="nombreVendedorError" class="text-danger"></div>
        </div>

        <div class="mb-3">
            <label for="telefonoVendedor" class="form-label">Teléfono</label>
            <input type="tel" class="form-control form-control-sm" name="telefonoVendedor" value="{{ vendedor.telefono }}">
            <div id="telefonoVendedorError" class="text-danger"></div>
        </div>

        <div class="mb-3">
            <label for="direccionVendedor" class="form-label">Dirección</label>
            <input type="text" class="form-control form-control-sm" name="direccionVendedor" value="{{ vendedor.direccion }}" required>
            <div id="direccionVendedorError" class="text-danger"></div>
        </div>

        <div class="mb-3">
            <label for="emailVendedor" class="form-label">Email</label>
            <input type="email" class="form-control form-control-sm" name="emailVendedor" value="{{ vendedor.email }}" readonly>
            <div id="emailVendedorError" class="text-danger"></div> <!-- Error en tiempo real -->
        </div>

        <button type="submit" class="btn btn-primary form-control-sm">Guardar Cambios</button>
       
    </form>

    <!-- Eliminar Vendedor -->
    <form id="eliminarVendedorForm"  class="mt-2">
        <input type="hidden" name="idvendedores" value="{{ vendedor['idvendedores']  }}">
        <button type="submit" class="btn btn-danger form-control-sm">Eliminar Vendedor</button>
    
    </form>
    <div id="eliminarvendedorMensaje" class="mt-2"></div>

</div>

<script src="{{ url_for('static', filename='js/vendedores/Editar_vendedor.js') }}"></script>

{% endif %}

{% endblock %}





    