body {
    background-image: url("../LOGO.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    padding-top: 5px;
}

h2 {
    color: #000; /* Texto negro */
    font-size: 1.8rem;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    text-align: left;

}

.container {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px 30px 40px; /* Significa: arriba 10px, derecha 20px, abajo 30px, izquierda 40px */
    margin: 10px auto;
    width: 90%; /* Ajusta el ancho de la caja */
    max-width: 1200px;
    min-height: 700px;
}

.form, .form-e, .form-el {
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column; /* Coloca los elementos en columna */
    align-items: center; /* Centra todos los elementos horizontalmente */
    padding: 20px;
    margin: 10px auto;
    width: 30%;
    border-radius: 50px;
}

.form{
    margin-left: 250px;
    margin-top: -50px;

}
.form-e{
    margin-right: 150px;
    margin-top: -500px;
}

.form-el{
    margin-right: 150px;
    margin-top: 100px;
}

.form .mb-3 {
    width: 100%; /* Asegura que todos los campos tengan el mismo ancho */
    max-width: 300px;
}

.form .btn {
    display: block; /* Asegura que se comporte como un bloque */
    width: 100%; /* Ajusta el ancho al contenedor */
    margin-top: 10px; /* Opcional: separa el botón de los campos */
}
.cerrar-sesion {
    position: fixed;
    top: 5px;
    right: 10px;
    z-index: 1000;
}

.session {
    width: auto; /* Esto ajustará el botón al tamaño de su contenido */
    margin: 0 auto; /* Esto lo centrará dentro del contenedor */
    display: block; /* Asegura que el botón se comporte como un bloque */
    margin-top: 20px;
    margin-right: 210px;
}

.form-control-sm {
    width: 130%;
    max-width: 300px;
}

footer {
    margin-top: auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    color: white;
    padding: 5px 0;
    text-align: right;
}

.mx-auto {
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    margin-top: -20px;
}

.bienvenido {
    font-size: 100px;
    /* Tamaño grande para pantallas grandes */
    font-weight: bold;
    text-align: center;
    margin-top: 310px;
    /* Margen para centrar en pantallas grandes */
}

/* Ajustes para tablets */
@media (max-width: 768px) {
    .bienvenido {
        font-size: 50px;
        /* Tamaño de fuente más pequeño */
        margin-top: 150px;
        /* Menor margen superior */
    }
}

/* Ajustes para teléfonos móviles */
@media (max-width: 480px) {
    .bienvenido {
        font-size: 30px;
        /* Tamaño de fuente aún más pequeño */
        margin-top: 50px;
        /* Menor margen superior */
    }
}

.factubarrio {
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    margin-top: -20px;
}

@media (max-width: 768px) {
    .factubarrio {
        font-size: 50px;
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    .factubarrio {
        font-size: 30px;
        margin-top: 20px;
    }
}